
<header>
  <div class="container__menu">
    <div class="logo">
      <img src="./assets/logoSienceTruck.png" class="logo" />
    </div>
    <div class="menu">
      <i class="fas fa-bars" id="btn_menu" (click)="mostrar_menu()"></i>
      <div id="back_menu"  (click)="ocultar_menu()"></div>
      <nav id="nav">
        <div class="logo__menu">
          <img src="./assets/logoSienceTruck.png" />
        </div>
        <ng-container >
          <ul>
            <!-- <li><a (click)="onLogout()">LogOut</a></li> -->
            <li><a href="#" routerLink="inicio">inicio</a></li>
            <li><a href="#" routerLink="divulgadores">divulgadores</a></li>
            <li><a href="#" routerLink="cientificos">Científicos</a></li>
            <li><a href="#" routerLink="productos">productos</a></li>
            <li><a href="#" routerLink="auth" id="selected">login</a></li>
          </ul>
        </ng-container>
      </nav>
    </div>
  </div>
</header>

<ng-template #viewAdmin>
  <ul>
    <li><a href="#" routerLink="inicio">huevos</a></li>
    <li><a href="#" routerLink="divulgadores">huevos</a></li>
    <li><a href="#" routerLink="cientificos">huevos</a></li>
    <li><a href="#" routerLink="productos">huevos</a></li>
    <li><a href="#" routerLink="auth" id="selected">huevos</a></li>
  </ul>
</ng-template>
