<header>
  <div class="container__menu">
    <div class="logo">
      <img src="./assets/logoSienceTruck.png" class="logo" />
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li><a href="#" routerLink="inicio" id="selected">inicio</a></li>
          <li><a href="#" routerLink="divulgadores">divulgadores</a></li>
          <li><a href="#" routerLink="cientificos">Científicos</a></li>
          <li><a href="#" routerLink="entretenimiento">entretenimiento</a></li>
          <li><a href="#" routerLink="sabias-que">¿Sabías qué?</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
