<div class="container">
    <div class="login-container">
      <div class="login-info-container">
        <h1 class="title">Sing Up</h1>
        <form [formGroup]="registerForm" class="inputs-container" (ngSubmit)="onRegister()" >
          <input class="input" type="text"  formControlName="name" placeholder="Username" ngModel required/>
          <input class="input" type="email"  formControlName="email" placeholder="Email" ngModel required/>
          <input class="input" type="password" formControlName="password"  placeholder="Password" ngModel required />
          <button class="btn" value="Register">login</button>
          <p>Do you already have an account? <span class="span" routerLink="/auth" >Log in</span></p>
        </form>
      </div>
      <img class="image-container" src="../../../../assets/icons/login.svg" alt="" />
    </div>
  </div>