<div class="container">
    <div class="login-container">
      <div class="login-info-container">
        <h1 class="title">Log in with</h1>
        <div class="social-login">
          <div class="social-login-element">
            <img src="../../../../assets/icons/google.svg" alt="google-image" />
            <span>Google</span>
          </div>
          <div class="social-login-element">
            <img src="../../../../assets/icons/facebook.svg" alt="facebook-image" />
            <span>Facebook</span>
          </div>
        </div>
        <p>or</p>
        <form   class="inputs-container" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <input class="input" type="email" formControlName="email" placeholder="Email" ngModel required/>
          <input class="input" type="password" formControlName="password"  placeholder="Password" ngModel required />
          <p>Forgot password? <span class="span">Click here</span></p>
          <button class="btn" value="Send">login</button>
          <p>Don't have an account? <span class="span" routerLink="/auth/register" >Sign Up</span></p>
        </form>
        <!-- <form #frmLogin="ngForm" class="inputs-container" (ngSubmit)="onLogin(frmLogin)">
          <input class="input" type="email"  name="email" placeholder="Email" ngModel required/>
          <input class="input" type="password" name="password"  placeholder="Password" ngModel required />
          <p>Forgot password? <span class="span">Click here</span></p>
          <button class="btn" value="Send">login</button>
          <p>Don't have an account? <span class="span" routerLink="/auth/register" >Sign Up</span></p>
        </form> -->
      </div>
      <img class="image-container" src="../../../../assets/icons/login.svg" alt="" />
    </div>
  </div>
